html * {
    font-family: 'Abel', sans-serif;
    font-size: 60px;
}

body {
    padding: 0;
    margin: 0;
}

main > *{
    padding-left: 40px;
}

header {
    background-color: darkblue;
    color: white;
    font-size: 80px;
    padding: 40px;
    margin-bottom: 30px;
}

ul {
    padding: 0;
}

li {
    padding: 5px 0px 5px 40px; 
    transition: all 1s;
}

.checkbox {
    height: 30px;
    width: 30px;
    position: relative;
    vertical-align: middle;
}
            
.done {
    text-decoration: line-through;
    background: none;
}

.listText{
    border: none;
}

.fade-leave-active {
    opacity: 0;
    position: absolute;
}
            
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-80px);
}