<!DOCTYPE html> 
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
        <link href="./flex.css" rel="stylesheet">
        <link href="./base.css" rel="stylesheet">
    </head>
    <body>
        <main id="app">
            <header>
                My ToDo list
            </header>
                <form @submit.prevent="addTodo">
                    <label>New Todo:</label>
                    <Input type="text" name="newTodo" id="newTodo" v-model="newTodo">
                    <button type="submit" name="button">Add</button>
                </form>  
                
                <ul>
                    <transition-group name="fade">
                        <li v-for="(todo, index) in todos" v-bind:key="todo.id" v-if="!todo.solved">
                            <input type="checkbox" v-model="todo.solved" class="checkbox" v-on:change="solveTodo(todo)">
                            <form @submit.prevent="updateTodo(todo)">
                                <input type="text" v-model="todo.title" class="listText" v-on:focus="cancelUpdate()" v-on:blur="resumeUpdate()" v-bind:disabled="todo.solved == 1" :class="{solved : todo.solved}">
                            </form>
                                <button v-on:click="deleteTodo(todo)">Delete</button>
                        </li>
                    </transition>
                </ul>
                
                <input transition name="fade" type="button" v-model="buttonName" v-on:click="showHideSolved">
                
                <ul>
                    <transition-group name="fade">
                        <li v-for="(todo, index) in todos" v-bind:key="todo.id" v-if="showSolved && todo.solved">
                                <input type="checkbox" v-model="todo.solved" class="checkbox" v-on:change="solveTodo(todo)">
                                <input type="text" v-model="todo.title" class="listText" v-bind:disabled="todo.solved == 1" :class="{solved : todo.solved}">
                                <button v-on:click="deleteTodo(todo)">Delete</button>
                        </li>
                    </transition-group>
                </ul>
            </main>
            <script src="./index.js"></script>
        </body>
        </html>