<ul>
	<li>[GET] todos (returns allToDos)</li>
	<li>[GET] todos/search (returns allToDos)</li>
	<li>[GET] todos/search/:todoId (get specific todo)</li>
	<li>[POST] todos/search/:todoId (update the data for the specified todo)</li>
	<li>[POST] todos/create/:todoId&:todoTitle&:todoDone</li>
	<li>[POST] todos/delete/:todoId (remove the specified todo)</li>
</ul>